.app {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

#menuburger {
  position: fixed;
  left: 0;
  color: black;
  z-index: 2;
}

.search {
  width: 100%;
  max-width: 80vw;
}

.container, .adminContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.adminContainer {
  padding-top: 18px;
  text-align: center;
}

.playlist .piece::before {
  width: 18px;
  content: "";
}

/*
Smooth scrolling in Safari (on Apple devices)
@media not all and (min-resolution:.001dpcm) { 
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .transformer__outer, .transformer__middle {
      transition: transform linear 0.01s;
    }
  }
}*/

.pieceView, .scoreView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.scoreView img {
  transition: all 1s;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* If width > height */
@media (min-width: 100vh) {
  .scoreView img {
    max-height: 100vh;
  }
}

.loginForm {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loginForm div {
  margin-top: 0;
  width: 100%;
}

.instrumentChip {
  margin: 4px;
}

.buttonBar {
  position: sticky;
  bottom: 8px;
  right: 8px;
  opacity: 0.25;
  float: right;
}